
body {
font-family: Arial;
background-color: #999999;
margin: 0px;
}
.header {
  width: 100%;
  height: 150px;
  background-color: #ccc;
}
.header .logo {
  float: left;
  width: 18%;
  height: 100%;
  background-image: url("../images/logo.jpg");
  background-repeat:no-repeat;

  background-size:contain;
  background-position:cover;
  background-color:#000; 
}
 .header .banner {
  float: left;
  width: 82%;
  height: 100%;
  color: white;
  background-color:#cccccc; 

}
 .header .banner .pic{
  float: left;
  width: 100%;
  height: 80%;
  background-image: url('../images/banner.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-color:#cccccc; 

}
.header .banner .menu{
  float: left;
  width: 100%;
  height: 20%;
  color: white;
  background-color:black; 

}

.login {
margin: 20px auto;
width: 400px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

#select {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}





ul#navmenu {
    width: 100%;
    margin: auto;
  }

  ul#navmenu, ul.sub1, ul.sub2 {
    list-style-type: none;
    font-size: 9pt;
    }
    
  ul#navmenu li {
    width: 125px;
    text-align: center;
    position: relative;
    float: left;
    margin-right: 4px;
    }
    
  ul#navmenu a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 125px;
    height: 25px;
    line-height: 25px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0px;
    }
    
  ul#navmenu .sub1 li {
    }
    
  ul#navmenu .sub1 a {

    margin-top: 5px;
    }
    
  ul#navmenu .sub2 a {
    margin-left: 3px;
    }
    
  ul#navmenu li:hover > a {
    background-color: #CFC;
    }
    
  ul#navmenu li:hover a:hover {
    background-color: #FF0;
    }
    
  ul#navmenu ul.sub1 {
    display: none;
    position: absolute;
    top: 26px;
    left: 0px;
    }
    
  ul#navmenu ul.sub2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 126px;
    }
    
  ul#navmenu li:hover .sub1 {
    display: block;
    }
    
  ul#navmenu .sub1 li:hover .sub2 {
    display: block;
    }
    
  .darrow {
    font-size: 11pt;
    position: absolute;
    top: 5px;
    right: 4px;
    }
    
  .rarrow {
    font-size: 13pt;
    position: absolute;
    top: 6px;
    right: 4px;
    }
